@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --bg: #1a1e24;
    --icon-clr: #e9ecef;

    /* card var */
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
    --h2-size: 1.25rem;
    --small-font-size: .813rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: None;
    font-family: "Poppins", sans-serif;
}

body {
    justify-content: center;
    background: var(--bg);
    min-height: 100vh;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.hero {
    position: relative;
    width: 100%;
    margin-top: -6.2rem;
    height: 100vh;
    overflow: hidden;
}

.about,
.skill {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.cool-hr {
    border: 0;
    height: 2px;
    background: var(--bg);
    background-image: linear-gradient(to right, var(--bg), #ccc, var(--bg));
}

hr.auto-width {
    display: block;
    width: 100%;
    height: 2px;
    border: none;
    background: var(--bg);
    background-image: linear-gradient(to right, var(--bg), #0a8bd6, var(--bg));
    margin: 4px 0;
}

/* Navigation style */
.navigation {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(2, 8, 17, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1500;
}

.navigation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 10px #000;
}

.navigation .all-list {
    display: flex;
    width: 350px;
}

.navigation .all-list .list {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation .all-list .list .nav-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation .all-list .list .nav-link .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--icon-clr);
}

.navigation .all-list .list.active .nav-link .icon {
    transform: translateY(35px);
    color: var(--bg);
}

.navigation .all-list .list .nav-link .text {
    position: absolute;
    color: var(--icon-clr);
    font-weight: 400;
    font-size: 0.85em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-25px);
}

.navigation .all-list .list.active .nav-link .text {
    opacity: 1;
    transform: translateY(-18px);
}

.indicator {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    background: #127bca;
    border-radius: 50%;
    border: 5px solid var(--bg);
    transition: 0.5s;
}

.navigation .all-list .list:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}

.navigation .all-list .list:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

.navigation .all-list .list:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

.navigation .all-list .list:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}

.navigation .all-list .list:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}


/* Bubble animation */
.bubbles {
    position: relative;
    display: flex;
    filter: blur(18px);
    z-index: -1;
}

.bubbles span {
    position: relative;
    width: 40px;
    height: 40px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px #4fc3dc,
        0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #b218ff;
    box-shadow: 0 0 0 10px #b218ff44,
        0 0 50px #b218ff,
        0 0 100px #b218ff;
}


/* Home section style */
.container {
    position: relative;
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.info .nama {
    font-size: 2.3rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0.03rem;
    text-shadow: 0 2px 2px rgb(0 0 0 / 0.4);
    justify-content: left;
    color: var(--icon-clr);
}

.info .bio {
    font-size: 0.7rem;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    letter-spacing: 0.05rem;
    font-style: normal;
    color: var(--icon-clr);
    justify-content: left;
    text-shadow: 0 2px 2px rgb(0 0 0 / 0.4);
}

.photo-profile {
    position: absolute;
    top: 140px;
    left: 700px;
}

.photo-profile .picture {
    width: 75%;
    border-radius: 50%;
    border: 10px solid rgb(185, 189, 205);
    margin-bottom: 0.03rem;
    text-shadow: 0 2px 2px rgb(0 0 0 / 0.4);
    transition: 0.5s;
}

.photo-profile .picture:hover {
    transform: scale(1.2);
}


/* About section style */
.title .text {
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 5px;
    text-shadow: 0 2px 2px rgb(0 0 0 / 0.4);
    color: var(--icon-clr);
    text-align: center;
}

.about-container {
    margin-top: 100px;
    display: grid;
    place-items: center;
    margin-inline: 1rem;
    padding-block: 5rem;
}

.card-container {
    display: grid;
    row-gap: 3rem;
}

.card-article {
    position: relative;
    overflow: hidden;
}

.card-img {
    width: 348px;
    border: #e9ecef solid 5px;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1.5rem;
}

.card-data {
    width: 240px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    /* opacity: 0; */
    transition: opacity 1s 1s;
}

.card-desc {
    font-family: 'Manrope', sans-serif;
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.card-title {
    font-size: var(--h2-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .2rem;
}

.card-article:hover .card-data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card-article:hover {
    animation: remove-overflow 2s forwards;
}

.card-article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data {
    animation: remove-data 1s forwards;
}


/* Skill section style */
.skill-container {
    margin-top: 100px;
    display: grid;
    place-items: center;
    margin-inline: 1rem;
    padding-block: 5rem;
}

.logo-program-lang {
    display: grid;
    row-gap: 2rem;
}

.logo {
    position: relative;
}


/* Keyframes animation */
@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-25vh) scale(0.9);
    }
}

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}


/* Breakpoints */

/* small media */
@media screen and (max-width: 400px) {

    .about-container,
    .skill-container {
        margin-top: 1rem;
        margin-inline: 1rem;
    }

    .card-data {
        width: 250px;
        padding: 1rem;
    }
}

/* medium media */
@media screen and (min-width: 768px) {

    .card-container,
    .logo-program-lang {
        margin-top: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

/* large media */
@media screen and (min-width: 1120px) {

    .about-container,
    .skill-container {
        height: 100vh;
    }

    .card-container,
    .logo-program-lang {
        margin-top: -6rem;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }

    .card-img {
        width: 348px;
    }

    .card-data {
        width: 240px;
        padding-inline: 2.5rem;
    }
}